@import url("screen.css");
@import url("non-screen.css") handheld;
@import url("non-screen.css") only screen and (max-device-width:640px);

.step .title {
	margin-top: 20px;
	margin-bottom: 5px;
}
.step .CodeMirror {
	height: auto;
}
.cm-s-solarized .cm-tab:before {
	color: #2E464E !important;
}

.result {
	position: absolute;
	top: 520px;
	left: 0;
	width: 300px;
	background-color: #002b36;
	color: #ccc;
	padding: 15px;
	font-weight: bold;
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	box-shadow: inset 7px 0 12px -6px #000;
	-webkit-box-shadow: inset 7px 0 12px -6px #000;
	-moz-box-shadow: inset 7px 0 12px -6px #000;
}
.result.fixed {
	position: fixed;
	top: 150px;
}
.result .error,
.result .validation-title {
	color: #cb4b16;
	font-size: 17px;
}
.result .validation-error {
	font-weight: normal;
	color: rgb(150, 112, 77);
}
.result pre {
	width: 100%;
	padding: 0;
	border: none;
	margin: 0;
}
.result.hide {
	display: none;
}

pre {
	tab-size:4;
	-moz-tab-size: 4;
	-o-tab-size:  4;
}
.btn.run {
	display: none;
}

@media all and (max-width: 1200px) {
	.result {
		background: white;
		display: none;
	}
	.result.fixed {
		display: block;
    	position: fixed;
		max-height: 30%;
		overflow: auto;
		width: 100%;
		bottom: 0;
		z-index: 100;
		top: auto;
		min-height: 40px;
		box-shadow: 0 -3px 3px rgba(0,0,0,0.1);
		-webkit-box-shadow: 0 -3px 3px rgba(0,0,0,0.1);
		-moz-box-shadow: 0 -3px 3px rgba(0,0,0,0.1);
	}
	.result.fixed.hide {
		display: none;
	}
	.result pre {
		background: white;
	}
	.btn.run {
		display: inline-block;
		position: absolute;
		right: 45px;
		height: 40px;
		margin: 0;
		background-color: #e03939;
		padding: 4px 12px;
		line-height: 20px;
		font-weight: bold;
		font-size: 16px;
		color: #FFF;
		cursor: pointer;
		text-align: center;
		vertical-align: middle;
		border: 0;
		-webkit-text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
		text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
		outline: none;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
	.btn.run:hover,
	.btn.run:focus {
		background-color: #de2c2c;
	}
	.btn.run:active {
		background-color: #da2222;
		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
		-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	}
}