@import url("screen.css");
@import url("non-screen.css") handheld;
@import url("non-screen.css") only screen and (max-device-width:640px);

.step .title {
	margin-top: 20px;
	margin-bottom: 5px;
}
.step a {
	font-size: 0.93em;
	font-style: italic;
}
.step .CodeMirror {
	height: auto;
}
.cm-s-solarized .cm-tab:before {
	color: #2E464E !important;
}

.result {
	position: absolute;
	top: 520px;
	left: 0;
	width: 300px;
	background: white;
	color: #999;
	padding: 15px;
	font-weight: bold;
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}
.result.fixed {
	position: fixed;
	top: 150px;
	left: 0;
	max-height: 60%;
	overflow: auto;
	z-index: 100;
}
.result.full {
	position: fixed;
	z-index: 100;
	top: 0;
	bottom: 0;
	right: 0;
	width: auto;
	height: auto;
	max-height: none;
}
.result.full .btn.maximize {
	position: fixed;
}
.result .error,
.result .validation-title {
	color: #cb4b16;
	font-size: 17px;
}
.result .validation-error {
	font-weight: normal;
	color: rgb(150, 112, 77);
}
.result pre {
	width: 100%;
	padding: 0;
	border: none;
	margin: 0;
	background: white;
}
.result.hide {
	display: none;
}

pre {
	tab-size:4;
	-moz-tab-size: 4;
	-o-tab-size:  4;
}
.btn {
	display: inline-block;
	position: absolute;
	right: 45px;
	height: 40px;
	margin: 0;
	background-color: #e03939;
	padding: 4px 12px;
	line-height: 20px;
	font-weight: bold;
	font-size: 16px;
	color: #FFF;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	border: 0;
	outline: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.btn.maximize {
	right: 15px;
	top: 14px;
	height: 25px;
	background: white;
	font-weight: normal;
	border: 1px #ddd solid;
	color: rgb(167, 167, 167);
	text-shadow: none;
	font-size: 14px;
	padding: 0 12px;
}
.btn.maximuze:focus {
	background-color: white;
}
.btn.maximize:hover {
	background-color: #EEE;
}
.btn.maximize:active {
	background-color: #EEE;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}
.btn.run {
	display: none;
	-webkit-text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
	text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
}
.hidden {
	display: none;
}

@media all and (max-width: 1200px) {
	.result {
		background: white;
		display: none;
	}
	.result.fixed {
		display: block;
    	position: fixed;
		max-height: 30%;
		overflow: auto;
		width: 100%;
		bottom: 0;
		top: auto;
		min-height: 40px;
		box-shadow: 0 -3px 3px rgba(0,0,0,0.1);
		-webkit-box-shadow: 0 -3px 3px rgba(0,0,0,0.1);
		-moz-box-shadow: 0 -3px 3px rgba(0,0,0,0.1);
	}
	.result.fixed.hide {
		display: none;
	}
	.result pre {
		background: white;
	}
	.btn.maximize {
		display: none;
	}
	.btn.run {
		display: inline-block;
	}
	.btn.run:hover,
	.btn.run:focus {
		background-color: #de2c2c;
	}
	.btn.run:active {
		background-color: #da2222;
		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
		-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	}
}

a[target="_blank"]:after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
	margin: 0 3px 0 5px;
}