@import url("screen.css");
@import url("non-screen.css") handheld;
@import url("non-screen.css") only screen and (max-device-width:640px);


.play-it {
	position: relative;
	width: 100%;
	margin-top: 30px;
}
.step {
	width: 25%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
}
.step-2 {
	left: 25%;
}
.step-3 {
	left: 50%;
}
.step-4 {
	left: 75%;
}
.step .title {
	margin-top: 20px;
	margin-bottom: 5px;
}
.step a {
	font-size: 0.93em;
	font-style: italic;
}
.step .CodeMirror {
	height: auto;
}
.cm-s-solarized .cm-tab:before {
	color: #2E464E !important;
}

.result {
	background: white;
	min-height: 398px;
	color: #999;
	padding: 15px;
	font-weight: bold;
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}
.result .error,
.result .validation-title {
	color: #cb4b16;
	font-size: 17px;
}
.result .validation-error {
	font-weight: normal;
	color: rgb(150, 112, 77);
}
.result pre {
	width: 100%;
	padding: 0;
	border: none;
	margin: 0;
	background: white;
}

pre {
	tab-size:4;
	-moz-tab-size: 4;
	-o-tab-size:  4;
}
.btn {
	display: inline-block;
	position: absolute;
	right: 45px;
	height: 40px;
	margin: 0;
	background-color: #e03939;
	padding: 4px 12px;
	line-height: 20px;
	font-weight: bold;
	font-size: 16px;
	color: #FFF;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	border: 0;
	outline: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.btn.maximize {
	right: 15px;
	top: 14px;
	height: 25px;
	background: white;
	font-weight: normal;
	border: 1px #ddd solid;
	color: rgb(167, 167, 167);
	text-shadow: none;
	font-size: 14px;
	padding: 0 12px;
}
.btn.maximuze:focus {
	background-color: white;
}
.btn.maximize:hover {
	background-color: #EEE;
}
.btn.maximize:active {
	background-color: #EEE;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}
.btn.run {
	display: none;
	-webkit-text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
	text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
}
.hidden {
	display: none;
}

@media all and (max-width: 1200px) {
	.btn.run {
		display: inline-block;
	}
	.btn.run:hover,
	.btn.run:focus {
		background-color: #de2c2c;
	}
	.btn.run:active {
		background-color: #da2222;
		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
		-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	}
	.step {
		width: 50%;
		height: 400px;
	}
	.step-2 {
		left: 50%;
	}
	.step-3 {
		top: 400px;
		left: 0;
	}
	.step-4 {
		top: 400px;
		left: 50%;
	}
}

a[target="_blank"]:after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
	margin: 0 3px 0 5px;
}