name: Run tests on Pull Request or Push
on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - .gitignore
      - .npmignore
      - LICENSE
      - README.md    
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 16.x, 17.x]
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install npm dependencies
        run: npm install

      - name: Run test against code
        run: npm test
