name: Run tests on Pull Request
on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - .gitignore
      - .npmignore
      - LICENSE
      - README.md    
jobs:
  test:
    name: Run tests (Node.js ${{ matrix.node }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [12, 14, 16, 17]
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      # Not using "npm ci" because not using lockfile
      - run: npm i
      # Run tests and create coverage report from running tests
      - run: npm run coverage
      # Save coverage report to GitHub PR as comment
      - name: Report NYC coverage
        uses: sidx1024/report-nyc-coverage-github-action@v1.1
        with:
          coverage_output_directory: "coverage"